.form-container {
    width: 100%; 
    height: 100%; 
    position: relative;
    background-image: url("/public/aboutus@3x.png");

    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    line-height: normal; */
    letter-spacing: normal;
    overflow:visible;   
}


#google-form {
    width: 100%; 
    height: 1900px; 
    /* height: min(100%, 1900px); */
    /* height: 100%;  */
    position: relative;
    letter-spacing: normal;
    overflow:clip;   
}



/* @media (max-width: 600px) {

#google-form {
    width: 100%; 
    height: 800px; 
    overflow-y: clip; 
}

} */