.learn-more-about1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
}
.at-cosmo-scholar {
  margin: 0;
}
.respectful-communication {
  margin: 0;
  font-size: var(--font-size-17xl);
}
.respect-and-courtesy {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.avoid-any-form-of-harassment {
  margin-bottom: 0;
}
.treat-all-users-including-stu {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.privacy-and-confidentiality {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.introduction-at-cosmo-container {
  align-self: stretch;
  height: 2723px;
  position: relative;
  line-height: 28px;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
}
.learn-more-about-us-parent {
  width: 1021px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-25xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.code-of-conduct-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.code-of-conduct {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-106xl);
  background-image: url(/public/code-of-conduct@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .code-of-conduct {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 750px) {
  .learn-more-about1 {
    font-size: var(--font-size-16xl);
    line-height: 43px;
  }
  .learn-more-about-us-parent {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .learn-more-about1 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .code-of-conduct {
    gap: var(--gap-12xl);
  }
}
