.cosmo-logo-invert-original-1-icon,
.logo-icon {
  position: relative;
  object-fit: cover;
  min-height: 72px;
}
.cosmo-logo-invert-original-1-icon {
  height: 72px;
  width: 72px;
}
.logo-icon {
  align-self: stretch;
  width: 281px;
  max-height: 100%;
}
.cosmo-logo-edit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.link-about2 {
  display: inline-block;
  min-width: 60px;
}
.link-about2,
.link-courses2,
.link-parents2 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 72px;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}
.link-courses2 {
  display: inline-block;
  min-width: 81px;
}
.link-parents2 {
  white-space: nowrap;
}
.divdivider-vertical2 {
  width: 1px;
  height: 40px;
  position: relative;
  background-color: var(--color-white);
}
.divdivider-vertical-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.book-an-appointment1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.41px;
  line-height: 41px;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
}
.link-wrapper,
.link8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link8 {
  align-self: stretch;
  border: 1px solid var(--color-goldenrod-100);
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  cursor: pointer;
}
.link-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base-5) 0 0;
  text-align: center;
}
.navbar2,
.page-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.page-links {
  width: 805px;
  justify-content: flex-start;
  gap: var(--gap-lgi-2);
}
.navbar2 {
  align-self: stretch;
  backdrop-filter: blur(8px);
  background-color: var(--color-midnightblue-500);
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .page-links {
    display: none;
  }
}
