.image-7-icon,
.image-8-icon {
  position: relative;
  object-fit: cover;
  min-height: 112px;
  flex-shrink: 0;
}

.image-7-icon {
  align-self: stretch;
  width: 233.9px;
  max-height: 100%;
}

.image-8-icon {
  width: 173.9px;
}

.image-11-icon,
.image-8-icon,
.image-9-icon {
  align-self: stretch;
  max-height: 100%;
}

.image-9-icon {
  width: 217.9px;
  position: relative;
  object-fit: cover;
  min-height: 112px;
  flex-shrink: 0;
}

.image-11-icon {
  width: 163.9px;
}

.image-11-icon,
.image-12-icon,
.image-13-icon {
  position: relative;
  object-fit: cover;
  min-height: 112px;
  flex-shrink: 0;
}

.image-12-icon {
  height: 112px;
  width: 109.9px;
}

.image-13-icon {
  align-self: stretch;
  width: 194.9px;
  max-height: 100%;
}

.image-7-parent {
  width: 1594.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-7xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-81xl);
  max-width: 102%;
}

.image-14-icon,
.image-7-icon1,
.image-8-icon1 {
  align-self: stretch;
  width: 184.9px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 112px;
}

.image-7-icon1,
.image-8-icon1 {
  width: 233.9px;
}

.image-8-icon1 {
  width: 173.9px;
}

.image-7-group {
  width: 507.7px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}

.image-11-icon1,
.image-9-icon1 {
  align-self: stretch;
  max-height: 100%;
}

.image-9-icon1 {
  width: 217.9px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 112px;
}

.image-11-icon1 {
  width: 163.9px;
}

.image-11-icon1,
.image-12-icon1,
.image-13-icon1,
.image-14-icon1 {
  position: relative;
  object-fit: cover;
  min-height: 112px;
  flex-shrink: 0;
}

.image-12-icon1 {
  height: 112px;
  width: 109.9px;
}

.image-13-icon1,
.image-14-icon1 {
  align-self: stretch;
  width: 194.9px;
  max-height: 100%;
}

.image-14-icon1 {
  width: 184.9px;
}

.best-colleges,
.colleges-list,
.image-13-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.image-13-parent {
  width: 479.8px;
  flex-shrink: 0;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.best-colleges,
.colleges-list {
  overflow-x: auto;
  justify-content: flex-start;
}

.best-colleges {
  width: 1568px;
  flex-shrink: 0;
  gap: var(--gap-80xl-9);
}

.colleges-list {
  background-color: var(--color-powderblue);
}

@media screen and (width <= 1500px) {
  .image-7-parent {
    flex-wrap: wrap;
  }
}

@media screen and (width <= 850px) {
  .best-colleges,
  .colleges-list,
  .image-7-parent {
    gap: var(--gap-31xl);
  }
}

@media screen and (width <= 450px) {
  .image-7-parent {
    gap: var(--gap-6xl);
  }

  .image-7-icon1,
  .image-8-icon1 {
    flex: 1;
  }

  .image-7-group {
    flex-wrap: wrap;
  }

  .image-13-icon1,
  .image-14-icon1 {
    flex: 1;
  }

  .image-13-parent {
    flex-wrap: wrap;
  }

  .best-colleges,
  .colleges-list {
    gap: var(--gap-6xl);
  }
}
