.on-1-child {
  align-self: stretch;
  height: 487px;
  position: relative;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-25xl);
  background-color: var(--color-papayawhip);
  display: none;
}
.one-on-one-1-icon {
  height: 178px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.feature-icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
}
.personalized-1-on-1-private {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  z-index: 1;
}
.tailored-learning-our-container {
  height: 171px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.detailed-descriptions,
.feature-descriptions,
.on-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.detailed-descriptions {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  font-size: var(--font-size-sm);
}
.feature-descriptions,
.on-1 {
  flex-direction: column;
}
.feature-descriptions {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.on-1 {
  width: 347px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-25xl);
  background-color: var(--color-papayawhip);
  padding: var(--padding-47xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 825px) {
  .on-1 {
    padding-top: var(--padding-24xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .feature-icons {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .personalized-1-on-1-private {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .on-1 {
    gap: var(--gap-lg);
  }
}
