.heading-21 {
  margin: 0;
  width: 990px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.course-satsvg-icon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.course-satsvg,
.spanchakra-avatar {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spanchakra-avatar {
  background-color: var(--color-seashell);
  flex-direction: row;
}

.python1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}

.divchakra-stack9,
.python {
  display: flex;
  justify-content: flex-start;
}

.divchakra-stack9 {
  height: 26.1px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}

.python {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-xs)
    var(--padding-xl);
  background-color: var(--color-seashell);
  border-radius: var(--br-4xl);
  flex-direction: column;
  align-items: flex-start;
}

.spanchakra-avatar1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.scratch1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 76px;
}

.divchakra-stack10,
.scratch {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.divchakra-stack10 {
  align-self: stretch;
  height: 26px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs) 0;
  gap: var(--gap-3xs);
}

.scratch {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-xs)
    var(--padding-xl);
  background-color: var(--color-seashell);
  width: 171px;
  border-radius: var(--br-4xl);
  flex-direction: column;
  align-items: flex-start;
}

.java1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}

.divchakra-stack11,
.java {
  display: flex;
  box-sizing: border-box;
}

.divchakra-stack11 {
  align-self: stretch;
  height: 26.1px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0;
  gap: var(--gap-4xs);
}

.java {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-xs)
    var(--padding-xl);
  background-color: var(--color-seashell);
  width: 171px;
  border-radius: var(--br-4xl);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 50px;
}

.swift1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}

.divchakra-stack12,
.swift {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.divchakra-stack12 {
  align-self: stretch;
  height: 26.1px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs) 0;
  gap: var(--gap-3xs);
}

.swift {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-xs)
    var(--padding-xl);
  background-color: var(--color-seashell);
  width: 171px;
  border-radius: var(--br-4xl);
  flex-direction: column;
  align-items: flex-start;
}

.algebra-wrapper {
  flex-direction: row;
  align-items: center;
}

.algebra,
.algebra-wrapper,
.divchakra-stack13 {
  display: flex;
  justify-content: flex-start;
}

.divchakra-stack13 {
  height: 26.1px;
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}

.algebra {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-17xl) var(--padding-xs)
    var(--padding-xl);
  background-color: var(--color-seashell);
  border-radius: var(--br-4xl);
  flex-direction: column;
  align-items: flex-start;
}

.statistics1 {
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 92px;
}

.calculus1,
.more,
.statistics1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}

.calculus1 {
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 84px;
}

.more {
  text-decoration: underline;
  line-height: 20px;
  min-width: 68px;
  max-height: 40px;
}

.vector-icon1 {
  width: 7.2px;
  height: 13.4px;
  position: relative;
}

.img {
  height: 13px;
  width: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-3) 0 0 var(--padding-11xs);
  box-sizing: border-box;
}

.course-list,
.course-offered,
.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.link-button {
  flex-direction: row;
  padding: var(--padding-6xs-9) 0 var(--padding-6xs-1) var(--padding-11xs);
  gap: var(--gap-3xs-5);
  min-width: 40px;
}

.course-list,
.course-offered {
  max-width: 100%;
}

.course-list {
  width: 990px;
  flex-flow: row wrap;
  padding: 0 var(--padding-69xl);
  gap: 23px 42px;
  min-height: 123px;
  font-size: var(--font-size-5xl);
}

.course-offered {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-xl);
  gap: var(--gap-16xl);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

@media screen and (width <= 1425px) {
  .course-list {
    padding-left: var(--padding-25xl);
    padding-right: var(--padding-25xl);
    box-sizing: border-box;
  }
}

@media screen and (width <= 825px) {
  .heading-21 {
    font-size: var(--font-size-5xl);
    line-height: 22px;
  }

  .course-list {
    gap: var(--gap-2xl);
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }

  .course-offered {
    gap: var(--gap-mid);
  }
}

@media screen and (width <= 450px) {
  .heading-21 {
    font-size: var(--font-size-lg);
    line-height: 17px;
  }

  .calculus1,
  .java1,
  .python1,
  .scratch1,
  .statistics1,
  .swift1 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }

  .more {
    font-size: var(--font-size-lgi);
    line-height: 15px;
  }
}
