.join-movement-container-child {
  height: 126px;
  width: 220px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 30.2px);
  left: 73px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-22 {
  align-self: stretch;
  height: 96px;
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.start-learning-now {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.link-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-4) var(--padding-xl) var(--padding-3xs-6);
  background-color: var(--color-midnightblue-100);
  width: 330px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 120px;
  white-space: nowrap;
  max-width: 100%;
}
.link-button1:hover {
  background-color: var(--color-slateblue);
}
.become-a-tutor1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue-100);
  text-align: center;
  display: inline-block;
  min-width: 106px;
}
.link-button2,
.linkmargin {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.link-button2 {
  cursor: pointer;
  border: 2px solid var(--color-lightgray-200);
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-6xs)
    var(--padding-2xl);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  min-width: 120px;
  white-space: nowrap;
}
.link-button2:hover {
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-silver);
  box-sizing: border-box;
}
.linkmargin {
  width: 330px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs) 0 0;
  max-width: 100%;
}
.divchakra-stack16,
.for-parents,
.movement-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-parents {
  width: 78px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue-100);
  text-align: center;
  min-width: 78px;
}
.divchakra-stack16,
.movement-content {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.divchakra-stack16 {
  align-self: stretch;
  height: 96px;
  padding: 0 var(--padding-xl);
}
.movement-content {
  width: 834px;
  padding: var(--padding-xl) 0;
  gap: var(--gap-13xl);
}
.cloud-icon {
  width: 296px;
  flex: 1;
  position: relative;
  max-height: 100%;
}
.cloudlargerightsvg {
  align-self: stretch;
  height: 188px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 var(--padding-11xs-5) var(--padding-12xs);
  box-sizing: border-box;
}
.rocket-clipart-1-icon {
  width: 206px;
  height: 205px;
  position: relative;
  object-fit: cover;
  z-index: 1;
  margin-top: -95px;
}
.image-container,
.join-movement-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  width: 228px;
  margin: 0 !important;
  position: absolute;
  top: 18.8px;
  left: 1221px;
  flex-direction: column;
}
.join-movement-container {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lg-8) 0 var(--padding-8xl-2) var(--padding-54xl);
  box-sizing: border-box;
  position: relative;
  min-height: 344px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .join-movement-container {
    padding-left: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-22 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .movement-content {
    gap: var(--gap-base);
  }
}
