.different-heading-wrapper,
.what-makes-us {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.what-makes-us {
  margin: 0;
  width: 970px;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.different-heading-wrapper {
  width: 1230px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.features-grid,
.what-makes-us-different {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.features-grid {
  width: 1230px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
  gap: 85px 55px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.what-makes-us-different {
  align-self: stretch;
  border-radius: var(--br-mini);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  text-align: center;
  font-size: var(--font-size-25xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .what-makes-us {
    font-size: var(--font-size-16xl);
    line-height: 43px;
  }
}
@media screen and (max-width: 750px) {
  .features-grid {
    gap: var(--gap-8xl);
  }
  .what-makes-us-different {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .what-makes-us {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
}
